<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <title>cousera</title>
  </head>
  <body>
    <div class="" ng-controller="LunchCheckController">
      <input type="text" name="" value="" ng-model="textbox" placeholder="list comma-separated items they usually eat for lunch" />
      <p>{{message}}</p>
      <button type="button" name="button" ng-click="showMessage()">Check If Too Much</button>
    </div>
  </body>
</html>
